[data-md-color-scheme="default"] {
  --md-default-bg-color: #eeeada;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #0e1116;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

:root {
  /* stat */
  --md-admonition-icon--stat: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>chart-line</title><path d="M16,11.78L20.24,4.45L21.97,5.45L16.74,14.5L10.23,10.75L5.46,19H22V21H2V3H4V17.54L9.5,8L16,11.78Z" /></svg>');
  /* abstract */
  --md-admonition-icon--abstract: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>clipboard-text-outline</title><path d="M19,3H14.82C14.25,1.44 12.53,0.64 11,1.2C10.14,1.5 9.5,2.16 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7M17,11H7V9H17V11M15,15H7V13H15V15Z" /></svg>');
  /* summary */
  --md-admonition-icon--summary: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>format-list-bulleted</title><path d="M7,5H21V7H7V5M7,13V11H21V13H7M4,4.5A1.5,1.5 0 0,1 5.5,6A1.5,1.5 0 0,1 4,7.5A1.5,1.5 0 0,1 2.5,6A1.5,1.5 0 0,1 4,4.5M4,10.5A1.5,1.5 0 0,1 5.5,12A1.5,1.5 0 0,1 4,13.5A1.5,1.5 0 0,1 2.5,12A1.5,1.5 0 0,1 4,10.5M7,19V17H21V19H7M4,16.5A1.5,1.5 0 0,1 5.5,18A1.5,1.5 0 0,1 4,19.5A1.5,1.5 0 0,1 2.5,18A1.5,1.5 0 0,1 4,16.5Z" /></svg>');
}

/* stat 样式 */
.md-typeset .admonition.stat,
.md-typeset details.stat {
  border-color: rgb(141, 210, 38);
}
.md-typeset .stat > .admonition-title,
.md-typeset .stat > summary {
  background-color: rgba(141, 210, 38, 0.1);
}
.md-typeset .stat > .admonition-title::before,
.md-typeset .stat > summary::before {
  background-color: rgb(141, 210, 38);
  -webkit-mask-image: var(--md-admonition-icon--stat);
          mask-image: var(--md-admonition-icon--stat);
}

/* summary 样式 */
.md-typeset .admonition.summary,
.md-typeset details.summary {
  border-color: rgb(48, 190, 229);
}
.md-typeset .summary > .admonition-title,
.md-typeset .summary > summary {
  background-color: rgba(48, 190, 229, 0.1);
}
.md-typeset .summary > .admonition-title::before,
.md-typeset .summary > summary::before {
  background-color: rgb(48, 190, 229);
  -webkit-mask-image: var(--md-admonition-icon--summary);
          mask-image: var(--md-admonition-icon--summary);
}

/* abstract 样式 */
.md-typeset .admonition.abstract,
.md-typeset details.abstract {
  border-color: rgb(48, 190, 229);
}
.md-typeset .abstract > .admonition-title,
.md-typeset .abstract > summary {
  background-color: rgba(48, 190, 229, 0.1);
}
.md-typeset .abstract > .admonition-title::before,
.md-typeset .abstract > summary::before {
  background-color: rgb(48, 190, 229);
  -webkit-mask-image: var(--md-admonition-icon--abstract);
          mask-image: var(--md-admonition-icon--abstract);
}


@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
.heart {
  color: #e15a5a;
  animation: heart 1000ms infinite;
}
.star {
  color: #FFD700;
}
.wechat {
  color: #5fcc72;
}
.bilibili {
  color: #00A5DC;
}
.youtube {
  color: #EE0F0F;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: cover;         /* 保证图片裁剪后不变形 */
  border-radius: 8px;        /* 圆角半径 */
  vertical-align: middle;
}